@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a {
  text-decoration: none;
}

.prose :where(a, h1, h2, h3, h4, h5, h6, ul, li, input, label, button, select, option, pre, textarea, div, strong, th, td):not(:where([class~="not-prose"] *)) {
  font-weight: 900;
}


.prose :where(a, h1, h2, h3, h4, h5, h6, ul, li, input, label, button, select, option, pre, textarea, table):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  white-space: pre;
  padding: 0;

}

.menu .menu-title {
  opacity: 0.5;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--b3));
  border-radius: 20px;
  width: 10px;
}